.bigRepoCont {
  border-bottom:1px solid rgb(209, 208, 208);
  display:flex;
}

.repo-name {
  color:rgb(18, 81, 175);
  font-size:20px;
}

.repo-description {
  font-size:14px;
}

.star-button-cont{
  width:20%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.repositoryCont {
  width:90%;
  padding: 6px 0;
}

.repo-count {
  border-bottom:1px solid rgb(209, 208, 208);
  padding: 5px 0;
}

.search {
  border:1px solid #e1e4e8;
  border-radius:3px;
  background-color:transparent;
  margin:0 20px;
  line-height:1.8;
  padding-left:10px;
}
.search-cont {
  position:relative;
}
.search-cont i {
  position:absolute;
  right:20px;
  top:5px;
  font-size:16px;
}


.details-cont {
  display:flex;
  width:30px;
}

.special-details-cont {
  width:auto;
}

.yellow{
  color:yellow;
}

.red {
  color:red;
}

.blue {
  color:blue;
}
